.header {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 0;
    color: white;
    font-size: 1.25rem;
    max-width: 100%;
    padding: 1em;
    margin: auto;

    ul {
        display: flex;
        gap: 1rem;
        list-style: none;
        font-size: .95rem;
    }

    a {
        color: white;
    }
}

@media screen and (max-width: 992px) {
    .headerUL {
        li {
            display: none;
        }
    }
}