.index {
    margin-top: 5em;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 5em;
    justify-content: center;
    // border: 1px solid red;
}

.box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;

    // .title {
    //     font-size: 3rem;
    // }

    .hoverBack {
        background-color: rgba(128, 128, 128, 0.276);
        height: 100%;
        width: 100%;
        position: absolute;
        // border: 1px solid;
        opacity: 0;
    }

    .hoverBack:hover {
        opacity: 1;
        cursor: pointer;
    }

    .catBackground {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35rem;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    p {
        font-size: 2.5rem;
        color: white;
        user-select: none;
    }

}